body{
    background-image: url("images/about-me-background-img.png");
}
.about-me-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:40px;
}
.social-media-nav{
    /*zorgt dat hij de helft van de pagina gebruikt*/
    flex: 1;
}

.social-media-nav ul {
    list-style-type: none;
}

.social-media-nav li {
    display: inline-list-item;
    padding-left: 20px;
    position: relative;
    border: solid 5px #a7bcb9;
    background-color: #a7bcb9;
}
a{
    text-decoration: none;
    display: block;
}
.social-media-nav a:hover {
    color: #333333;
}

.social-media-nav{
    position: sticky;
}
.social-media-dropdown{
    position: relative;
    margin-top : 132px;
}
.social-media-dropdown-content{
    container: auto;
    position: absolute;
    display: none;
    background-color: #6C757D;
    min-width: 130px;
    max-width: 400px;
    padding: 3px 4px;
    border-radius: 10px;
    white-space: normal;
}
.social-media-dropdown:hover .social-media-dropdown-content{
    display: block;
    cursor: pointer;

}
.about-me-gif{
    width: 70%;
    object-fit: contain;
    border: 5px solid #a7bcb9;;
    border-radius: 10px;
}