.social-media-nav ul {
    display: flex;
    flex-direction: row;
    position: sticky;
    gap: 10rem;
    list-style-type: none;
}

.social-media-nav li {
    margin-top: 5%;
    border: solid 5px #a7bcb9;
    background-color: #a7bcb9;
}

a {
    text-decoration: none;
    display: block;
}

.social-media-nav a:hover {
    color: #333333;
}

.social-media-dropdown {
    position: relative;
}

.social-media-dropdown-content {
    container: auto;
    position: absolute;
    display: none;
    background-color: #6C757D;
    min-width: 150px;
    max-width: 400px;
    border-radius: 10px;
    white-space: normal;
}

.social-media-dropdown:hover .social-media-dropdown-content {
    display: block;
    cursor: pointer;
}