.blogs-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1 {
    text-align: center;
}

summary {
    cursor: pointer;
}

/*zelf service portal*/
/*bij de HZ contact pagina*/