
.ict-table{
    margin-left : 5%;
    border-collapse: collapse;
    max-width: 60%;
}
caption{
    margin: 10px;
    font-size: large;
}
td, th  {
    border: 3px solid #a7bcb9;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #a7bcb9;
}
#chart{
    max-width: 30%;
    max-height: 30%;
    margin-left : 5%;

}
