
.dashboard-container{
    display: grid;
    grid-template-rows: repeat(6,1fr) ;
    grid-template-columns: repeat(12,1fr);
    grid-gap:1rem;
}



table {
    grid-area: 1/2/4/7 ;
    border-collapse: collapse;
}

table caption {
    font-weight: 600;
    font-size: large;
    margin-bottom: 30px;
}

td, th {
    border: 3px solid #a7bcb9;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #a7bcb9;
}

#chart {
    margin-top: 70px;
    grid-area: 4/1/9/8;
    max-height: 300px;
    width: 100px;
}


@media screen and (max-width: 768px) {
    .dashboard-container{
        display: grid;
        grid-template-rows: repeat(3,1fr) ;
        grid-template-columns: repeat(12,1fr);
        grid-gap:1rem;
    }


    table {
        grid-area: 1/1/4/11 ;
        border-collapse: collapse;
    }

    #chart {
        grid-area: 4/1/9/11;
    }

}