.questions-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    border: #a7bcb9 5px solid;
    /*max-width: 30%;*/

}

.questions-section-title {
    align-items: center;
}

summary {
    cursor: pointer;
}

article {
    max-width: 50%;
}

img {
    align-self: flex-end;
    flex: 1 1 auto;
    width: 200px;
    border-radius: 40%;
    border: solid black 1px;
}