.questions-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    border: #a7bcb9 10px solid;
    flex-wrap: wrap;
}

.questions-section-title {
    align-items: center;
}

summary {
    cursor: pointer;
    border: 5px solid #a7bcb9;
    margin-left: 10px;
    margin-bottom: 10px;
}

article {
    max-width: 50%;
}
/*// gekoopeld nog aan de blog.css*/