.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    margin-top: 10%;
}

.experience-fieldset, .info-fieldset {
    border: solid 5px #a7bcb9;

}

.info-div, .experience-div {
    display: flex;
    flex-direction: column;
}

.wam-denim-image {
    max-width: 30%;
    align-self: flex-end;

}